/* ======= RESET ========= */
* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
}

/* ======= GLOBAL VARIABLES ========= */
:root {
  /* ======= COLORS ========= */
  --dark-blue-100: #609ed4;
  --dark-blue-200: #356ea9;
  --dark-blue-300: #0a3871;
  --dark-blue-400: #072b61;
  --dark-blue-500: #052051;

  --light-blue-100: #f3f5fc;
  --light-blue-200: #eff1fa;
  --light-blue-300: #e9ecf8;
  --light-blue-400: #aab2d5;
  --light-blue-500: #757fb2;

  --gray-100: #ced4da;
  --gray-200: #adb5bd;
  --gray-300: #868e96;
  --gray-400: #495057;
  --gray-500: #343a40;

  /*========== PADDING ===========*/
  --padding-horizontal: 1.6rem;
  --gap: 1.6rem;
}

html {
  /* 1rem = 16px (User Agent) = 100% (User Agent) */
  font-size: 62.5%; /* 10px */
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--light-blue-100);
}

.container {
  display: flex;
}

.content {
  display: flex;
}

/* ======= HEADER ========= */
header {
  padding: 2.4rem var(--padding-horizontal);
}

/* ======= MAIN ========= */
main {
  padding: 6rem var(--padding-horizontal) 4rem;
  flex-direction: column;
  gap: var(--gap);

  & form {
    flex-direction: column;
    gap: var(--gap);
    width: 100%;
    flex-grow: 2;

    & textarea {
      color: var(--dark-blue-300);
      font-family: 'Inter', sans-serif;
      font-size: 3.2rem;
      flex-grow: inherit;

      display: block;
      resize: none;
      outline: none;

      background-color: var(--light-blue-100);

      scrollbar-color: var(--light-blue-100);
      scrollbar-width: thin; /* "auto" or "thin" */
      scrollbar-color: var(--dark-blue-300) var(--light-blue-100); /* scroll thumb and track */
    }

    & textarea::placeholder {
      color: var(--dark-blue-300);
    }

    & textarea::-webkit-scrollbar {
      width: 1.2rem; /* width of the entire scrollbar */
    }

    & textarea::-webkit-scrollbar-track {
      background: var(--light-blue-100); /* color of the tracking area */
    }

    & textarea::-webkit-scrollbar-thumb {
      background-color: var(--dark-blue-300); /* color of the scroll thumb */
      border-radius: 20px; /* roundness of the scroll thumb */
      border: 3px solid var(--light-blue-100); /* creates padding around scroll thumb */
    }
  }

  & .warning {
    width: 100%;
    height: 1.8rem;
    gap: 0.8rem;
    align-items: center;
    flex-grow: 1;

    & img {
      color: var(--gray-500);
      width: 1.6rem;
    }

    & p {
      height: 1.2rem;
      color: var(--gray-500);
    }
  }

  & .buttons-section {
    flex-direction: column;
    gap: 2.4rem;
    flex-grow: 1;
  }

  & button {
    border: 0.1rem solid var(--dark-blue-300);
    height: 6.7rem;
    border-radius: 2.4rem;
    font-size: 1.6rem;
  }

  & .button-blue {
    background-color: var(--dark-blue-300);
    color: white;
  }

  & .button-blue:hover {
    background-color: var(--dark-blue-400);
  }

  & .button-white {
    background-color: var(--light-blue-100);
    color: var(--dark-blue-300);
  }

  & .button-white:hover {
    background-color: var(--light-blue-200);
  }

  & section {
    flex-grow: 1;
    margin-top: 4.8rem;
    flex-direction: column;
    align-items: center;
    background-color: White;
    border-radius: 3.2rem;
    padding: 3.2rem;
    text-align: center;
    gap: 1.6rem;
    box-shadow: 0px 26px 62px 0px rgba(0, 0, 0, 0.1);

    & .title {
      font-size: 2.4rem;
      font-weight: bold;
      color: var(--gray-500);
    }

    & .subtitle {
      font-size: 1.6rem;
      color: var(--gray-400);
    }

    & .final-text {
      font-size: 2.4rem;
      text-align: left;
      color: var(--gray-400);
      word-break: break-all;
    }

    & button {
      width: 100%;
      background-color: white;
    }
  }
}

@media (min-height: 600px) {
  @media (min-width: 600px) {
    /* ======= GLOBAL VARIABLES ========= */
    :root {
      /*========== PADDING ===========*/
      --padding-horizontal: 4rem;
    }

    /* ======= HEADER ========= */
    header {
      padding: 7.4rem var(--padding-horizontal);
    }

    /* ======= MAIN ========= */

    main.container {
      padding-top: 11.6rem;

      & form.content {
        height: 55vh;

        & .buttons-section {
          flex-direction: row;
          justify-content: space-between;

          & button {
            flex-grow: 1;
          }
        }
      }
    }
  }
}
